business_name: 'name'
business_address: 
        line1       : '123 fake str'
        city        : 'town'
        county      : 'country'
        postal_code : 'pp13 pp12'
companies_house_api : 'https://api.companieshouse.gov.uk/search/companies'
companies_house_api_key: 'key'
gnupg_homedir: '~/.gnupg/'
my_gpg_pub_id: 'sdfsfsdfsdf'
account_number: '12345678'
sort_code: '607050'
